<html>
    <head>
        <title>
            Booking page
        </title>
    </head>
    <body>
        WELCOME TO BOOKING PAGE
        <br>
        Select Quantity
        <select id="mySelect">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
            <option value="five">5</option>
          </select>
        <label for="date"><b> Date</b></label>
        <input type="date" id="myDate">
        Price
        <label id="price"></label>
      <br>
      <script>
          document.getElementById("price").innerHTML=document.getElementById("mySelect");
      </script>
    </body>
</html>