<!DOCTYPE html>
<html>

<head>
    <title>VAS MOVIES</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body class="body">

    <nav class="navbar navbar-inverse">
        <div id="main" class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">VAS</a>
            </div>
            <ul class="nav navbar-nav">
                  <% if(!user.isAdmin) { %>} 
                <li><a href="/home"><span class="glyphicon glyphicon-home"></span> &nbsp; <b>Home</b></a></li>
                <li><a href="/movies"><b>Movies</b></a></li>
                <li><a href="/mybookings"><b>My Bookings</b></a></li>
                <li><a href="/contact"><b>Contact</b></a></li>
                <li><a href="/rating"><b>User Rating</b></a></li>  
                <% } %>
                <% if(user.isAdmin) { %>} 
                <li><a href="/adminadd"><b>Add Movie</b></a></li>
                <li><a href="/admindelbooking"><b>User Bookings</b></a></li>
                <li><a href="/admindelete"><b>Movies Playing</b></a></li>
                <li><a href="/adminrating"><b>User Ratings</b></a></li>
                <% } %>
            </ul>
            <li class="pull-right">
                <a href="/users/logout" class="btn btn-danger navbar-btn glyphicon glyphicon-log-out"> Logout</a>
            </li>

        </div>
    </nav>
</body>