<% include header %>
<head>
        <link href="../css/home.css" type="text/css" rel="stylesheet" />
    </head>
<h1>WELCOME TO VAS THEATRES</h1>
<img src="../css/Teamlogo.jpg" width="200" height="200" align="middle" >

</body>