    <head>
        <title>Northwest Events</title>
        <link href="../css/home.css" type="text/css" rel="stylesheet" />
    </head>
    <br>
    <img src="../css/northwesteventslogo.png" width="200" height="200" align="middle">
    <br>
    <br>
    <style>
        img {
            width: 220px;
            height: 220px;
        }

        th {
            font-size: 2em;
            background-color:white;
            padding: 20px;
            
        }

        body {
            font-family: sans-serif;
            font-size: 1em;
            text-align: center;
        }

        table {
            background-color: white;
            width: 60%;
        }

        td {
            padding: 25px;
        }

        .textimage {
            position: relative;
            width: 300px;
            height: 300px;
            float: left;
            background-size: 100%;
            background-position: center;
            margin: 4px;
            background-size: 100%;
            transition: 0.5s;
            text-align: left;
        }

        .textimage:hover {
            background-size: 110%;
        }

        .textimage:after {
            position: absolute;
            top: 90%;
            bottom: 0;
            left: 0;
            right: 0;
            white-space: pre-wrap;
            overflow: hidden;
            background-color: rgba(0, 0, 0, 0, 3);
            color: #fff;
            padding: 0 8px;
            content: attr(data-text);
            transition: 0.5s;
        }

        .textimage:hover:after {

            top: 0;
            padding: 8px;
            background-color: rgba(0, 0, 0, 0, 6);
        }

        .textimage:first-line {
            color: #fff;
            font-weight: bold;
            font-size: 1.5em;
        }
        th{
            padding: 25%
        }
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div>
                    <p align = "center" colspan="12" style="font-size:175%">This is the place where people can look for various events that are ongoing and that are about to take place.</p>
                    <p colspan="center" style="font-size:175%">This site allows the new users to register and old users to login and search for all the exciting events taking place on campus. This website also allows users to cooment on a particular event he is interested in and take part in it.</p>
        </div>
</body>