<html>
    <head>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>
        Robo Movie
        </title>
        <style>
          img{
          height:220;
          width:220;
          
          } 
          .checked {
    color:orange;
}
        </style>
        
    </head>
    <body>
        <table ><tr><div >
                <img src="../Assets/images/robo.jpg" style:"align:center" >
            </div></tr></table>
        
       <p>Robo is a science fiction film co-written and directed by S. Shankar and it is dubbed version of tamil movie "Endhiran". In which, Rajinikanth and Aishwarya Rai in the lead roles with A. R. Rahman working on background score and soundtrack. Produced by Kalanidhi Maran.

        Rajni plays dual roles. One is a scientist and the other is a Robot. Scientist Rajni creates a Robot with artificial intelligence – like that of sixth sense in humans – to help human beings and to the development of the country.</p>
        <h2>Movie Rating</h2>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
        <h3>Available timings</h3>
        <form align="center" action="booking.html">
        <input type="submit" value="11:00am"/>
        <input type="submit" value="2:00pm"/>
        <input type="submit" value="4:00pm"/>
        <input type="submit" value="6:00pm"/>
        <!-- <button class="btn btn-primary" onclick="booking.html">11:00am</button>
        <button class="btn btn-primary">2:00pm</button>
        <button class="btn btn-primary">4:00pm</button>
        <button class="btn btn-primary">6:00pm</button> -->
    </form>

    </body>
</html>