<% include header%>
    <html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body>
        <link rel="stylesheet" type="text/css" href="../css/ratting.css" />
        <div class="container">
            <h1 align="center">User Rating</h1>
            <br>
            <form method="POST" action="/RatingController/rating">
                <div class="form-group">
                    <label for="sel1">Select Movie:</label>
                    <select class="form-control" id="sel1" name="movie">
                        <option>Robo</option>
                        <option>Agnathavasi</option>
                        <option>InstantFamily</option>
                        <option>ArvindhaSametha</option>
                        <option>Aquaman</option>
                    </select>
                    <br>
                </div>
                <div>
                    <label for="rat">Movie Rating:</label>
                    <br>
                    <br>
                    <div class="rating">
                        <label>
                            <input type="radio" name="stars" value="1" />
                            <span class="icon">★</span>
                        </label>
                        <label>
                            <input type="radio" name="stars" value="2" />
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                        </label>
                        <label>
                            <input type="radio" name="stars" value="3" />
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                        </label>
                        <label>
                            <input type="radio" name="stars" value="4" />
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                        </label>
                        <label>
                            <input type="radio" name="stars" value="5" />
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                        </label>
                    </div>
                    <br>
                </div>
                <br>
                <br>
                <div class="form-group">
                    <label for="comment">Comment:</label>
                    <textarea class="form-control" rows="5" id="comment" name="comments"></textarea>
                </div>
                <input type="text" name="username" value="<%=user.username%>" hidden>
                <br>
                <button type="submit" class="btn btn-primary" style="float:center">submit</button>
        </div>
        </form>
    </body>
    <script>
        $(':radio').change(function () {
            console.log('New star rating: ' + this.value);
        });
    </script>

    </html>